<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add Product</title>
</head>
<body>
   <h1>Add Product from <%= data.name %></h1>
   <br><h1></h1>
   <form action="/owner/add/<%= data.id %>" method="post">

   <p>
      Shop Name:
      <select name="ShopId">

         <option value="<%= data.id %>"><%= data.name %></option>
      </select>
   </p>
   <p>
      Name Product : <br>
      <input type="text" name="name">
   </p>
   <p>
      image URL : <br>
      <input type="text" name="img">
   </p>
   <p>
      Description : <br>
      <textarea name="description" cols="20" rows="10"></textarea>
   </p>
   <p>
      Price : <br>
      <input type="number" name="price">
   </p>

   <p>
      Category : <br>
      <select name="CategoryId">
         <option value="" selected>-- Select One --</option>
         
         <% category.forEach(el => { %>
            
            <option value="<%= el.id %>"><%= el.name %></option>

         <% }) %>
      </select>
   </p>

   <input type="submit" value="Save">
   </form>
</body>
</html>