<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Add Product</title>
</head>
<body>
   <h1>Update Product <%= data.name %></h1>
   <br><h1></h1>
   <form action="/products/update/<%= data.id %>" method="post">

   
   <p>
      Name Product : <br>
      <input type="text" name="name" value="<%= data.name %>">
   </p>
   <p>
      image URL : <br>
      <input type="text" name="img" value="<%= data.img %>">
   </p>
   <p>
      Description : <br>
      <textarea name="description" cols="20" rows="10"><%= data.description %></textarea>
   </p>
   <p>
      Price : <br>
      <input type="number" name="price" value="<%= data.price %>">
   </p>

   <p>
      Category : <br>
      <select name="CategoryId">
         
         
         <% category.forEach(el => { %>

            <% if (el.id === data.id) { %>
               <option value="<%= el.id %>" selected><%= el.name %></option>

            <% } else { %>
               <option value="<%= el.id %>"><%= el.name %></option>
               
            <% } %> 

         <% }) %>
      </select>
   </p>

   <input type="submit" value="Save">
   </form>
</body>
</html>